<div  ng-app="MyApp">

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/HomeWork/service.js"></script>
    <script src="~/Scripts/HomeWork/demo.js"></script>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li style="width:120px; text-align: center;   font-size: initial;"><a class="text-danger" href="#Books">List of books</a></li>
            <li style="width:120px; text-align: center;   font-size: initial;"><a class="text-danger" href="#Add">Add</a></li>
            <li style="width:120px; text-align: center;   font-size: initial;"><a class="text-danger" href="#Edit">Edit</a></li>
            <li style="width:120px; text-align: center;   font-size: initial;"><a class="text-danger" href="#Details">Details</a></li>
        </ul>

    </div>

    <div ng-view>
    </div>
 </div>